<form ng-submit="search()">
  <input type="text" ng-model="searchTerm"/>
  <button type="submit">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</form>
<div class="info">
  <h1 class="head">{{head}}</h1>
  <h2>From Wikipedia, the free encyclopedia</h2>
  <div>
      <rzslider id="slider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
  </div>
  <div class="key">
    <h2 class="added">ADDED CONTENT</h2>
    <h2 class="removed">REMOVED CONTENT</h2>
  </div>
  <h1 ng-show="comparing">Comparing Content</h1>
  <div ng-hide="hideStart">
    <h4>Search for a Wikipedia page title and compare the changes from revision to revision.</h4>
  </div>
  <div class="loading" ng-show="loading"><h1>Loading...</h1></div>
  <p>{{results[slider.value].timestamp}}</p>
  <div ng-show="start" class="border" ng-bind-html="wikiparsed[0]"></div>
  <span ng-repeat="diff in difference" ng-class="{'added': diff.added, 'removed': diff.removed}" ng-bind-html="diff.value"></span>
</div>

