html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:lightgrey;
}

.sidebar{
  height: 100%;
  width: 14%;
  background-color: lightgrey;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  float:left;
}

.logo {
  height: 148px;
}

.content{
  width: 86%;
  margin: 21px 0 0 auto;
  background-color:white;
  height: 100%;
  display:inline-block;
  
}

.info {
  padding: 20px;
  border-left: 1px solid lightblue;
  border-top: 1px solid lightblue;
  background-color: white;
  font-family: Times, serif;
}

form {
  background-color:lightgrey;
  text-align:right;
  padding: 20px 0 2px 0;
}

input {
  width:284px;
  font-family: Times, serif;
}

.head{
  height: 48px;
  margin: 0;
  width: 100;
  border-bottom: 1px solid lightgrey;
}

h2 {
  font-size: 12px;
  font-weight: 400;
  margin: 8px 0 0 0;
  font-family: Times, serif;
}

.app-name{
  text-align:center;
  margin: -40px 0 0 0;
  background-color: lightgrey;
  font-family: Times, serif;
}

#slider {
  width: 80%;
  margin: 48px auto;
  text-align:center;

}

.rzslider {
  display:block;
}

h4{
  font-weight: 400;
  text-align:center;
  margin: 84px 0 0 0;
  font-family: Times, serif;
}

.results{
  background-color:white;
}
.added {
  color:green;
}

.removed{
  color:red;
}

.loading{
  height: 184px;
  width: 400px;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: Times, serif;
}